.nav-wrapper {
  background-color: #000000;
}

.main-body {
  height: calc(100vh - 64px);
}
.materialboxed-image {
  margin: 0 auto;
  height: 400px;
}
.click-me-button {
  background-color: #ee6e73;
  margin-top: 50px;
}
